# Virtual environment
pyenv/

# Python cache files
__pycache__/
*.pyc
*.pkl

# Environment variables and credentials
.env
*.env
surf-shelter-model-processor-credential.json

# Any unnecassary large files
*.warc.gz